.available-event {
    background-color: #00ba2f;
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
  }

  :host::ng-deep.fc-button-primary{
    background-color: #00ba2f !important;
  }