.window {
  width: 750px;
  height: 600px;
  padding: 40px;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;

  backdrop-filter: blur(10px) brightness(75%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

input[type="text"],
input[type="password"] {
  border-radius: 8px;
  border: 1px solid white;
  color: white !important;
  background: transparent;
}

form {
  width: 100%;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background: #00000040;
  box-shadow: none;

  border: 1px solid white;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: white;
}

input[type="submit"] {
  width: 100%;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.color-brg {
  color: white !important;
  ;
}

.txt-white {
  color: white;
}

:host::ng-deep .mat-stepper-horizontal,
.mat-stepper-vertical {
  background-color: #ffffff3d;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

.width-550{
  width: 550px;
}


:host ::ng-deep .mat-input-element {
  font: inherit !important;
  background: inhert !important;
  color: white !important;
  border: none !important;
  outline: none !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  vertical-align: bottom !important;
  text-align: inherit !important;
  box-sizing: content-box !important;
  font-size: larger !important;
  font-weight: 600 !important;
}

.mat-select {
  display: inline-block;
  width: 100%;
  outline: none;
  font-size: larger !important;
  font-weight: 600 !important;
  color: white !important;
}

::ng-deep .mat-toolbar.mat-primary {
  background: #42AC79;
  color: #fff;
}

::ng-deep .mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: #42AC79;
}

::ng-deep .mat-focused {
  color: #42AC79;
}
