::ng-deep.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #00ba2f;
}

mat-ink-bar {
  background-color: #00ba2f;
}

.mat-ink-bar {
  background-color: #00ba2f;
}