
.home-section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  overflow: hidden;
  background: url(../../../assets/img/brand/close-up-veterinarian-taking-care-dog.jpg) no-repeat center;
  background-size: cover;

}
.home-section .home-content{
  position: relative;
  max-width: 500px;
  width: 100%;
  padding: 0 35px;
  text-align: center;

}
.home-content h3{
  font-size: 26px;
  color: #252525;
  font-weight: 500;
  margin-bottom: 20px;
  background-color:  rgba(255, 255, 255, 0.241);
  border-radius: 50px;
  
}
.home-content h1{
  font-size: 50px;
  color: #3bc971;
  font-weight: 600;
  margin-bottom: 20px;
  background-color:  rgba(255, 255, 255, 0.167);
  border-radius: 50px;
  
}

.home-content p{
  font-size: 18px;
  color: #282828;
  
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.167) ;
    border-radius: 50px;
  
}
.home-content .btn:hover{
  background: #252525;
  color: #42AC79;
  transition: all 0.3s ease;
}
.home-content .btn{
  display: inline-block;
  padding: 12px 30px;
  background: #42AC79;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px){
  .home-content h1{
    font-size: 40px;
  }
  .home-content p{
    font-size: 16px;
  }
    .home-content .btn{
        padding: 10px 25px;
    }
    
}

.hero-one{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.hero-one-content{
  display: flex;
  flex-direction: row;
  row-gap: 5%;
  justify-content: space-between;
  
  gap: 5%;
}

.hero-one-content img{
  width: 30%;
  height: 100%;


}
.text-content{
  
  text-align: center;
  flex-direction: column;
  justify-content: center;
  
  gap: 5%;

}

@media screen and (max-width: 768px){
  .hero-one-content{
      display: flex;
      flex-direction: column;
      row-gap: 5%;
      justify-content: space-between;
      
      gap: 5%;
  }
  .hero-one-content img{
      width: 100%;
      height: auto;
  }
  .text-content{
      text-align: center;
      flex-direction: column;
      justify-content: center;
      
      gap: 5%;
  }
  
}


.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 5%;
  cursor: pointer;

}


.btn-10 {
  background: #42ac79;
  width: auto;
  height: auto;
  position: absolute;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  padding: .6%;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  background: #42AC79;
  outline: solid #42AC79 2px;
  padding: 0.50em 1.5em;
  transition: all 0.3s ease;
}

.btn-10:hover {
background: #252525 ;
color: #42AC79;
border: 2px solid white;
outline: solid #252525 2px;
padding: 0.50em 1.5em;
transition: all 0.3s ease;
}

.hero-two{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  display: flex;
}
.hero-two img{
  width: 50%;
  height: 100%;
}
.hero-two-content{
  width: 50%;
  align-items: center;
  justify-content: center;
  
}
.hero-two-content h3{
  font-size: 2.5rem;
  margin-bottom: 5%;
  font-weight: 600;
}
.services{
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
 
  border-radius: 30px;
  padding: 5% 0;
  width: 80%;
  
}
.services li{
  margin-left: 5%;
  margin-right: 5%;
  list-style: none;
  font-size: 1.4rem;
  margin-bottom: 17px;
  
}
@media screen and (max-width: 768px){
  .hero-two{
      flex-direction: column;
  }
  .hero-two img{
      width: 100%;
  }
  .hero-two-content{
      width: 100%;
      text-align: center;
  }
  .services{
      flex-direction: column;
      width: 100%;
  }
  .services li{
      margin-bottom: 5%;
      list-style: none;
  }
  .services ul{
      padding: 0;
      align-items: center;
      text-align: center;
      
  }
  
}

*
{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
h3
{
  margin-left: 5%;
  font-size: 2.5rem;
    margin-bottom: 5%;
    font-weight: 600;
}







.note
{
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 8px;
  font-size: 0.9em;
}

.note.on-sale
{
  background: #00ba2f;
  color: #fff;
}

.note.no-stock
{
  background: #191919;
  color: #fff;
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 5%;
    cursor: pointer;

}





.btn-10 {
    background: #42ac79;
    width: auto;
    height: auto;
    position: absolute;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    padding: .6%;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    background: #42AC79;
    outline: solid #42AC79 2px;
    padding: 0.50em 1.5em;
    transition: all 0.3s ease;
}

.btn-10:hover {
  background: #252525 ;
  color: #42AC79;
  border: 2px solid white;
  outline: solid #252525 2px;
  padding: 0.50em 1.5em;
  transition: all 0.3s ease;
}


@media screen and (max-width: 768px){

  h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5%;
    font-weight: 600;
  }
    .listing
    {
        flex-direction: column;
    }
    .product
    {
        width: 100%;
        margin-bottom: 5%;

    }
    .product a
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info
    {
        height: 100%;

    }
    .info
    {
        height: 100%;

    }
    .info:before
    {
        display: none;
    }
    .info:after
    {
        display: none;

    }
    .actions-wrapper
    {
        visibility: visible;
    }
    .price.old
    {
        top: -15px;
    }
    .price
    {
        top: -15px;
    }
    .note
    {
        top: 0;
        left: 0;
        padding: 4px 8px;
        font-size: 0.9em;
    }
    .img-wrapper
    {
        height: 100%;
    }
    .img-wrapper img
    {
        margin-top: 0;
        width: 100%;
    }
    .title
    {
        transform: translateY(0);
        font-size: 16px;


    }
    .price
    {
        font-size: 1.5em;
        padding: 4px 13px;
        top: -15px;
        right: 10px;

    }
    .price.old
    {
        font-size: 1.2em;
        padding: 4px 6px;
        text-decoration: line-through;
        top: -43px;

    }
    .actions-wrapper
    {
        margin-top: 14px;
        display: flex;
        justify-content: space-around;
        visibility: visible;
    }
    .actions-wrapper *
    {
        width: 50%;
        padding: 2px 0;
        text-align: center;
        color: #191919;
        font-size: 0.95em;
        font-weight: bold;
    }
    .actions-wrapper *:before
    {
        font-family: "FontAwesome";
        margin-right: 8px;
    }
    .buy
    {
        border-right: 1px solid #afafaf;
    }
    .buy:hover
    {
        color: #42AC79;
    }
    .buy:before
    {
        content: "\f02b";
    }
    .cart:hover
    {
        color: #0a75b9;
  
    }
    .cart:before
    {
        content: "\f07a";
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0%;
        margin-bottom: 10%;
        cursor: pointer;
    }
}
