.navbar-vertical.navbar-expand-md .navbar-nav .nav-link {
    font-weight: 600 !important;
    font-size: larger !important;
    color: white !important;
    font-family: poppins !important;
}

.navbar-vertical.navbar-expand-md .navbar-brand-img {
    max-height: 4.5rem;
}

