<div class="container">
    <div class="feed">
        <div class="card">
            <div class="info"><img src="https://source.unsplash.com/rDEOVtE7vOs/150x150" />
                <div class="user">
                    <div class="handle">@AnabelB</div>
                    <div class="community">I Took a Picture • Today 12:43</div>
                </div>
                <div class="options fa-solid fa-ellipsis"></div>
            </div>
            <div class="title">ITAP of this girl at the fair!</div>
            <div class="image"> <img class="main" src="https://source.unsplash.com/1qKeFhizj08/800x600" /><img
                    class="shadow" src="https://source.unsplash.com/1qKeFhizj08/800x600" /></div>
            <div class="meta">
                <div class="votes">
                    <div class="fa-solid fa-thumbs-up active"></div>6.2k
                    <div class="fa-solid fa-thumbs-down"></div>
                </div>
                <div class="comments">1.4k
                    <div class="fa-regular fa-comment"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="info"><img src="https://source.unsplash.com/rDEOVtE7vOs/150x150" />
                <div class="user">
                    <div class="handle">@AnabelB</div>
                    <div class="community">No Stupid Questions • Today 12:43</div>
                </div>
                <div class="options fa-solid fa-ellipsis"></div>
            </div>
            <div class="title">I want to write a question here, but it is getting kinda long, does it still look
                allright?</div>
            <div class="meta">
                <div class="votes">
                    <div class="fa-solid fa-thumbs-up"></div>204
                    <div class="fa-solid fa-thumbs-down"></div>
                </div>
                <div class="comments">6
                    <div class="fa-regular fa-comment active"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="info"><img src="https://source.unsplash.com/rDEOVtE7vOs/150x150" />
                <div class="user">
                    <div class="handle">@AnabelB</div>
                    <div class="community">No Stupid Questions • Today 12:43</div>
                </div>
                <div class="options fa-solid fa-ellipsis"></div>
            </div>
            <div class="title">This card will have a paragraph</div>
            <div class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis explicabo dicta
                recusandae ipsam iusto quos rerum ipsa similique...</div>
            <div class="meta">
                <div class="votes">
                    <div class="fa-solid fa-thumbs-up"></div>204
                    <div class="fa-solid fa-thumbs-down"></div>
                </div>
                <div class="comments">6
                    <div class="fa-regular fa-comment active"></div>
                </div>
            </div>
        </div>
    </div>
</div>